<mat-sidenav-container class="container" >
  <mat-sidenav  #sidenav mode="side" [(opened)]="opened">
      <h3>My manusctipts</h3>
      <mat-divider></mat-divider>
      <mat-button-toggle-group vertical
                              #group="matButtonToggleGroup"
                              name="fontStyle"
                              aria-label="Font Style"
                              (change)="onValChange(group.value)"
                              >
          <mat-button-toggle value="underline" *ngFor="let manuscript of profileManuscripts ; index as i" value= {{i}}>{{manuscript.title}}</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
    <button mat-button class="closeOpenButton" (click)="sidenav.toggle()">
      <mat-icon *ngIf=opened>keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf=!opened>keyboard_arrow_right</mat-icon>
    </button>

    <app-manuscript-viewer  [manuscript]="profileManuscripts && profileManuscripts[_currentWorkingManuscript]"
                            (saveToServerImagePage)='saveToServerImagePage($event)' (pageChanged)="pageChanged($event)"></app-manuscript-viewer>

  </mat-sidenav-content>
</mat-sidenav-container>
